.App {
  /* background-color: bisque; */
  /* height: 100vh; */
  height: max-content;
  /* height: fit-content; */
}
.mainDiv {
  /* display: flex; */

  /* border: 2px solid red; */
  /* height: 58vh; */
}
.selectDiv {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 300px; */
  margin-top: 100px;
  margin-bottom: 10px;
  /* border: 2px solid red; */
}
.selectDiv > div {
  background: whitesmoke;
  padding: 10px;
  width: 200px;
  border: none;
  height: 100px;
  margin: 2px;
}
select {
  width: 180px;
  border: none;
  font-weight: bolder;
}
.footer {
  position: absolute;
  width: 100%;
  font-size: 0.8rem;
}
input {
  margin-right: 10px;
}

select {
  cursor: pointer;
}
#selectionForm {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;

  /* border: 2px solid red; */
  padding-right: 10px;
}

#selectionForm h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 500;
}
#selectionForm h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 500;
}

#selectionForm button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#selectionForm button:hover {
  background-color: #45a049;
}

#selectionForm input[type="checkbox"],
#selectionForm input[type="radio"] {
  margin-right: 5px;
  margin-bottom: 5px;
}

#selectionForm label {
  cursor: pointer;
}

#selectionForm label:hover {
  color: #007bff;
}
#buses {
  /* border: 2px solid green; */
}
.budSDiv {
  /* border: 2px solid green; */
}

/* .seatSelectionDiv {
  margin: auto;
  background: gray;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
} */
.pForm input,
select {
  border: 1px solid rgba(128, 128, 128, 0.58);
  border-radius: 5px;
  text-align: center;
}
.seatSelectionDiv {
  /* border: 2px solid rgb(0, 255, 85); */
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
}
.seatBtnDIV {
  /* border: 2px solid rgb(255, 230, 0); */
  display: flex;
  padding-top: 10px;
  /* flex-wrap: wrap; */

  width: 70%;
}
.seatREsultDiv {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: auto;
  /* padding-left: 5px; */
  font-size: small;
  text-align: center;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
}
/* ///////responsivness  */

@media screen and (min-width: 0px) and (max-width: 640px) {
  .filtersDiv {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .filtersDiv input {
    font-size: 12px;
  }
  .busAmenities {
    display: flex;
    flex-wrap: wrap;
  }
  .busJourneyTime {
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
  }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .seatSelectionDiv {
    flex-direction: column;
    align-items: center;
  }

  .seatBtnDIV {
    width: 100%;
    padding: 2px;
  }

  .seatREsultDiv {
    width: 100%;
  }
  .singleSeat {
    width: 20px;
    font-size: small;
    height: fit-content;
   
  }
}
